version: '2.4'

services:

  app1:
    image: msgraph-training-nodeexpressapp:latest
    build:
      context: .
      target: dev
      args:
        NPM_TOKEN: $NPM_TOKEN
    environment:
      NODE_ENV: development
      # OAUTH_APP_RESOURCE_ID: 0800cd2b-ec6f-4544-bfa4-047856e99e2d
      OAUTH_APP_ID: 660636fe-005e-4f54-a6ba-d2f74de4eafd
      OAUTH_APP_PASSWORD: ${OAUTH_APP_PASSWORD}
      # OAUTH_REDIRECT_URI: https://swarm-np-01/auth/callback
      OAUTH_REDIRECT_URI: https://msgraph.swarm-np.gregoryfunding.com/app1/auth/callback
      OAUTH_SCOPES: 'profile offline_access user.read'
    # ports:
    #   - '3000:3000'
    #   - '9229:9229'
    volumes:
      - .:/opt/app
      - /opt/app/node_modules

  app2:
    image: msgraph-training-nodeexpressapp:latest
    environment:
      NODE_ENV: development
      # OAUTH_APP_RESOURCE_ID: 0800cd2b-ec6f-4544-bfa4-047856e99e2d
      OAUTH_APP_ID: 660636fe-005e-4f54-a6ba-d2f74de4eafd
      OAUTH_APP_PASSWORD: ${OAUTH_APP_PASSWORD}
      OAUTH_REDIRECT_URI: https://msgraph.swarm-np.gregoryfunding.com/app2/auth/callback
      OAUTH_SCOPES: 'profile offline_access user.read'
    # ports:
    #   - '3001:3000'
    #   - '9230:9229'
    volumes:
      - .:/opt/app
      - /opt/app/node_modules

  nginx:
    image: nginx:1.19
    depends_on:
      - app1
      - app2
    volumes:
    - ./nginx/templates:/etc/nginx/templates
    - /home/swarm/.certs:/etc/nginx/certs
    ports:
      - '8080:80'
      - '443:443'
    environment:
      APP_PORT: '3000'
